<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title> IT4 - FUN </title>
    <style>
        giua {text-align: center;}

        cuoi {text-align: end;}

        do {color: red}
        
        tim {color:blueviolet}
        
        khung {border: 1px solid rgb(34, 0, 128);}

        fon {font-family: sans-serif;}

        body {background-color:aliceblue;}

        vb{
            font-size: 20px;
            line-height: 1.5;
        }

        vb1{
            font-size: 20px; 
            font-weight: bold; 
            line-height: 1.5;
        }

        table{
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        th, td{
            border: 1px solid #555;
            padding: 10px;
        }

        th{
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        h1{
            font-size: 70px;
            line-height: 1.5;
        }
    </style>
</head>

<body>

    <giua> <h1> <tim> CHÀO MỪNG ĐẾN VỚI </tim> <do> K69I-IT4 </do> </h1>  </giua> 

    <div style="text-align: center;"> <img src="it4.jpg" alt="Ảnh page IT4" height="400"> </div> <br>

    <vb1> 1. Thông tin cơ bản </vb1> <br>
    <vb>
        - <br>
        - <br>
        - <br>
        - <br>
    </vb>

    <vb1> 2. Ban cán sự nhiệm kỳ </vb1> <br>
    <vb>
        a) Năm học 2024 - 2025:
        - Lớp trưởng: <br>
        - Bí thư: <br>
        - <br>
        - <br>
        - <br>
        - <br>
    </vb>

    <vb1> 3. Danh sách thành viên </vb1> <br>
    <table>
        <thead>
            <tr>
                <th> STT</th>
                <th> Họ và tên</th>
                <th> Ngày sinh</th>
                <th> Mạng xã hội </th>
                <th> Thông tin chi tiết </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Nguyễn Lê An </td>
                <td> 20/08 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Tính cách, sở thích, năng khiếu, món ăn yêu thích, ... </a> </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> Nguyễn An Quốc Anh </td>
                <td> 02/10 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> Trần Xuân Anh </td>
                <td> 02/06 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> Trần Việt Bảo </td>
                <td> 14/06 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 5 </td>
                <td> Phạm Ánh Chúc </td>
                <td> 24/03 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> Nguyễn Hữu Danh </td>
                <td> 06/10 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 7 </td>
                <td> Lưu Quang Dũng </td>
                <td> 07/10 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 8 </td>
                <td> Phạm Ngọc Dũng </td>
                <td> 28/02 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 9 </td>
                <td> Bùi Văn Đình </td>
                <td> 08/02 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 10 </td>
                <td> Nguyễn Ngọc Trường Giang </td>
                <td> 22/08 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 11 </td>
                <td> Tống Ngọc Hiển </td>
                <td> 19/02 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 12 </td>
                <td> Phan Đức Hiếu </td>
                <td> 19/05 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 13 </td>
                <td> Nguyễn Hồng Hoàng </td>
                <td> 10/01 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 14 </td>
                <td> Phạm Thanh Hùng </td>
                <td> 09/12 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 15 </td>
                <td> Đinh Quang Huy </td>
                <td> 01/05 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 16 </td>
                <td> Phạm Lê Huy </td>
                <td> 15/09 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 17 </td>
                <td> Phạm Nam Khánh </td>
                <td> 05/12 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 18 </td>
                <td> Nguyễn Ngọc Anh Khôi </td>
                <td> 15/09 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 19 </td>
                <td> Trịnh Tiến Kiệt </td>
                <td> 15/09 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 20 </td>
                <td> Nguyễn Tuấn Linh </td>
                <td> 15/09 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 21 </td>
                <td> Trần Bảo Long </td>
                <td> 15/09 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 22 </td>
                <td> Nguyễn Tiến Mạnh </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 23 </td>
                <td> Kiều Nhật Minh </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 24 </td>
                <td> TRần Hoài Nam </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 25 </td>
                <td> Nguyễn Lê duy Nhân </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 26 </td>
                <td> Phạm Công Phát </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 27 </td>
                <td> Đinh Gia Phúc </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 28 </td>
                <td> Lường Tú Quân </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 29 </td>
                <td> Đỗ Minh Sơn </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 30 </td>
                <td> Cao Thị Mai Sương </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 31 </td>
                <td> Triệu Tuấn Thành </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 32 </td>
                <td> Thìn Thị Thúy </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 33 </td>
                <td> Trần Huyền Trang </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 34 </td>
                <td> Nguyễn Thành Trung </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 35 </td>
                <td> Nguyễn Minh Tuấn </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 36 </td>
                <td> Phạm Hữu Tùng </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>
            <tr>
                <td> 37 </td>
                <td> Nguyễn Hữu Vinh </td>
                <td> 21/07 </td>
                <td> <a href=""> Facebook </a> </td>
                <td> <a href=""> Chi tiết </a> </td>
            </tr>

        </tbody>
    </table>
<br>
    <vb1> 4. Các hoạt động đã diễn ra </vb1> <br>
    <vb>
        ... <br>
    </vb>

    <vb1> 5. Các hoạt động sắp tới </vb1> <br>

    <vb1> 6. Kỷ niệm </vb1> <br>

    <vb1> 7. Lời nhắn nhủ của từng cá nhân </vb1> <br>
    <vb>
        Đến bản thân hay tập thể, cá nhân khác <br>
    </vb>

    <vb1> 8. Vinh danh thành tích </vb1> <br>

    <vb1> 9. Triệu tập </vb1> <br>

    <vb1> 10. Cách thức cập nhật thông tin lên web </vb1> <br> 
    <vb>
        Để các thông tin được cập nhật liên tục lên web, có thay đổi gì hãy điền vào form sau: <a href=""> Cập nhật thông tin </a> <br>
    </vb>

<br>
    <div style="text-align: right;"> <vb> Theo dõi chúng tôi qua Page Facebook: <khung> <a href="https://web.facebook.com/profile.php?id=61568924781480"> IT4Fun </a> <khung> </vb> <br>
    <vb> Nếu web lỗi, liên hệ: <a href=""> Nguyễn Tiến Mạnh </a> </vb> <br> </div>
</body>
</html>